.form_outer_container{
    height:600px;
    width:100%;
}
.form_continer{
    height:100%;
}
.col_form_left{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.form_style{
    width:90%;
}
.form_heading_left_underline{
    height:5%;
    width:0%;
    background:rgba(0,0,0,0);
    transition:1s;
}
.left_form_col_heading{
    width:100%;
}
.left_form_col_heading:hover .form_heading_left_underline{
    height:5%;
    width:90%;
    background:#FF6600;
    transition:1s;
}
.input_text_row1{
    width:100%;
}
.col_form_right{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.inner_container_form_right{
    height:90%;
    width:90%;
    background:#F8F9FA;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.right_form_col{
    min-height:20%;
    width:95%;
}
.col_icon_style{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.icon_div{
    background:#FF6600;
    border-radius:50%;
    height:60%;
    width:100%;
    color:white;
    font-size:2em;
    font-weight: bolder;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.col_text_contact_style{
    height:100%;
}
.contact_heading_company{
    color:#FF6600;
    font-weight: bolder;
    font-size:1.2em;
}